{% load static %}
{% load javascript_settings_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">


	<title>Morning</title>
</head>

<script type="text/javascript">{% javascript_settings %}</script>

<body bgcolor="#33FFD7">
	<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/todo" class="pure-menu-link">ToDo</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">My Feed</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Positivity</a></li>
        <li class="pure-menu-item"><a href="/positivity" class="pure-menu-link">Edit Goals</a></li>
        <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Sign Up</a></li>
    </ul>
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-3">
				    {% if name %}
	        			<h1>Good Morning, {{name}}!</h1>
	    			{% else %}
	        			<h1>Good Morning!</h1>
	    			{% endif %}
	    			{% block content %}{% endblock %}
		</div>
	</div>
	<div id = 'image'>

  </div>

</div>
</body>
